<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách phòng chiếu</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h2>Danh sách phòng chiếu</h2>
<a href="/cinemas/phong/form">Thêm phòng chiếu</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên phòng</th>
        <th>Rạp</th>
        <th>Sức chứa</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="phong : ${phongs}">
        <td th:text="${phong.id}"></td>
        <td th:text="${phong.tenPhong}"></td>
        <td th:text="${phong.rapPhim.tenRap}"></td>
        <td th:text="${phong.soGhe}"></td>
        <td>

            <a th:href="@{/cinemas/phong/delete/{id}(id=${phong.id})}" onclick="return confirm('Xóa phòng này?')"><button>Xoá</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/cinemas/}"><button>Quay lại</button></a>
</body>
</html>
