
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Sửa Rạp Phim</title>
</head>
<body>
<h2>Sửa Rạp Phim</h2>
<form th:action="@{/cinemas/rap/edit}" th:object="${rapPhim}" method="post">
    <label>Id</label>
    <input type="number" th:field="*{id}" readonly><br>
    <label>Tên Rạp:</label>
    <input type="text" th:field="*{tenRap}" required/><br/>

    <label>Địa Chỉ:</label>
    <input type="text" th:field="*{diaChi}" required/><br/>

    <button type="submit">Lưu</button>
</form>

<a th:href="@{/cinemas/}"><button>Quay lại</button></a>
</body>
</html>